# API URLS
BASE_URL_DEV=
BASE_URL_PROD=
SOCKET_URL_NOTIFICATIONS=

# GOOGLE API
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
IOS_CLIENT_ID=
ANDROID_CLIENT_ID=

# FIREBASE
# Common
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=

# Android
ANDROID_API_KEY=
ANDROID_APP_ID=

# iOS / macOS
IOS_API_KEY=
IOS_APP_ID=
IOS_BUNDLE_ID=

# Web / Windows
WEB_API_KEY=
WEB_APP_ID=
WEB_AUTH_DOMAIN=
WEB_MEASUREMENT_ID=
